.DS_Store
/.build
build/
/Packages
RadixWallet.xcodeproj/xcuserdata
RadixWallet.xcodeproj/project.xcworkspace/xcuserdata
/Package.resolved
xcuserdata/
*.xcuserstate
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
fastlane/report.xml
fastlane/test_output/
.env.secret
.bundle
vendor
.design
Aux/SensitiveInfo.plist
AWSCLIV2.pkg
buildServer.json
settings.json