--swiftversion 5.6

# format options
--allman false # Prefer `K&R` https://en.wikipedia.org/wiki/Indentation_style#K&R_style
--indent tab
--tabwidth 4

--stripunusedargs closure-only
--enable marktypes
--disable redundantNilInit
--lineaftermarks false
--ifdef no-indent
--header strip

# file options
--exclude .build,Sources/Core/Resources/Generated/AssetResource.generated.swift,Sources/Core/Resources/Generated/L10n.generated.swift
