<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.radixpublishing.radixwallet.ios.dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>radixwallet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.radixpublishing.radixwallet.ios.beta</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>radixwallet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.radixpublishing.radixwallet.ios.alpha</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>radixwallet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.radixpublishing.radixwallet.ios.pre-alpha</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>radixwallet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.radixpublishing.radixwallet.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>radixwallet</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>undecimus</string>
		<string>sileo</string>
		<string>zbra</string>
		<string>filza</string>
		<string>activator</string>
		<string>googlegmail</string>
		<string>ms-outlook</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_bonjour._tcp</string>
		<string>_lnp._tcp.</string>
	</array>
	<key>RDX_ICLOUD_BACKUPS_CONTAINER</key>
	<string>$(RDX_ICLOUD_BACKUPS_CONTAINER)</string>
</dict>
</plist>
