<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPS_FLYER_APP_ID</key>
	<string>placeholder</string>
    <key>APPS_FLYER_DEV_KEY</key>
    <string>placeholder</string>
</dict>
</plist>
