<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   exportOptionsRelease-iOS.plist
   BabylonWallet

   Created by Ghenadie Vasiliev-Pusca on 24.11.2022.
   Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
	<string>7SPGKHD4HZ</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution: RADIX DLT LIMITED (7SPGKHD4HZ)</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>works.rdx.e2e.babylon</key>
		<string>match AppStore works.rdx.e2e.babylon</string>
	</dict>
</dict>
</plist>
