//
//  ios-dev.xcconfig
//  BabylonWallet
//
//  Created by Ghenadie Vasiliev-Pusca on 14.12.2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "ios.xcconfig"

ID_SUFFIX=beta

PRODUCT_NAME = $(APP_NAME)-β
PRODUCT_BUNDLE_IDENTIFIER=$(APP_BUNDLE_ID).$(ID_SUFFIX)
ASSETCATALOG_COMPILER_APPICON_NAME = $(APPICON_NAME).$(ID_SUFFIX)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = Apple Distribution

PROVISIONING_PROFILE_SPECIFIER[sdk=iphoneos*] = match AppStore $(PROFILE_IDENTIFIER_BASE).$(ID_SUFFIX)
