// Shared iOS target config

#include "../Common.xcconfig"


DEVELOPMENT_TEAM[sdk=iphoneos*] = $(DEV_TEAM)
SDKROOT = iphoneos
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
TARGETED_DEVICE_FAMILY = 1
IPHONEOS_DEPLOYMENT_TARGET = 16.4

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES;
BUNDLE_LOADER = "$(TEST_HOST)";
CODE_SIGN_STYLE = Automatic;
CURRENT_PROJECT_VERSION = 1;
GENERATE_INFOPLIST_FILE = YES;
MARKETING_VERSION = 1.0;
PRODUCT_BUNDLE_IDENTIFIER = RadixWalletTests
PRODUCT_NAME = "$(TARGET_NAME)";
SWIFT_EMIT_LOC_STRINGS = NO;

TEST_HOST = $(BUILT_PRODUCTS_DIR)/Radix Wallet Dev.app/$(BUNDLE_EXECUTABLE_FOLDER_PATH)/Radix Wallet Dev