//
//  iOS-dev.xcconfig
//  BabylonWallet
//
//  Created by Ghenadie Vasiliev-Pusca on 15.12.2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "iOS-shared.xcconfig"

// If enabled, perform validation checks on the product as part of the build process.
VALIDATE_PRODUCT = YES

CODE_SIGN_IDENTITY[sdk=iphoneos*] = Apple Distribution
