openapi: 3.0.0
info:
  version: 0.5.0
  title: Babylon Gateway API - RCnet V3
  license:
    name: The Radix License, Version 1.0
    url: https://www.radixfoundation.org/licenses/license-v1
  x-logo:
    url: https://docs-babylon.radixdlt.com/main/_images/radix-logo-banner.png
    href: https://docs-babylon.radixdlt.com
  description: |
    This API is exposed by the Babylon Radix Gateway to enable clients to efficiently query current and historic
    state on the RadixDLT ledger, and intelligently handle transaction submission.

    It is designed for use by wallets and explorers. For simple use cases, you can typically use the Core API on
    a Node. A Gateway is only needed for reading historic snapshots of ledger states or a more robust set-up.

    The Gateway API is implemented by the [Network Gateway](https://github.com/radixdlt/babylon-gateway),
    which is configured to read from [full node(s)](https://github.com/radixdlt/babylon-node) to extract
    and index data from the network.

    This document is an API reference documentation, visit [User Guide](https://docs-babylon.radixdlt.com/) to learn more
    about how to run a Gateway of your own.

    ## Migration guide

    Please see [the latest release notes](https://github.com/radixdlt/babylon-gateway/releases).

    ## Integration and forward compatibility guarantees

    We give no guarantees that other endpoints will not change before Babylon mainnet launch, although changes are expected to
    be minimal.
servers:
  - url: https://rcnet-v3.radixdlt.com
x-tagGroups:
  - name: Overview
    tags:
      - SubAPIs
      - Concepts
      - Architecture
  - name: Endpoints
    tags:
      - Status
      - Transaction
      - Stream
      - State
      - Statistics
tags:
  - name: SubAPIs
    x-displayName: Sub-APIs
    x-traitTag: true
    description: |
      The Gateway API is split into 5 sub APIs:
      - **Status** (`/status/*`) - For status and configuration details for the Gateway / Network.
      - **Transaction** (`/transaction/*`) - For transaction construction, preview, submission, and monitoring the status of an individual transaction.
      - **Stream** (`/transaction/*`) - For reading committed transactions.
      - **State** (`/state/*`) - For reading the current or past ledger state of the network.
      - **Statistics** (`/statistics/*`) - For calculating particular statistics against the current or past ledger state of the network.
  - name: Architecture
    x-traitTag: true
    description: |

      ## Request-Response Format

      The API is designed in a JSON-RPC-like style, using HTTP as a transport layer, which means that:
      - Requests always use HTTP POST method.
      - There is no HTTP cache involved.
      - Client-originated errors result in HTTP 4xx error responses.
      - Server-originated errors result in HTTP 5xx error responses:
          - The error object contains an HTTP-like `code`
          - The error object also contains a structured/typed properties, with a `type` discriminator, allowing for structured error interpretation in client software.

      ## Pagination Model

      Collections can grow in size therefore every dynamic-length collection is a subject to pagination where a generic data struct is used to represent a chunk (page) of
      underlying data. Gateway API uses cursor-based pagination model where the sole existence of the cursor indicates that next chunk (page) of the underlying collection is
      available.

      ```
      collection {
        int64? total_count,
        string? next_cursor,
        string? previous_cursor,
        T[] items
      }
      ```

      - `total_count` *(optional)* if present specifies the overall size of the underlying collection,
      - `next_cursor` *(optional)* if present indicates that the next chunk (page) exists and can be fetched using collection-specific endpoint and cursor value,
      - `previous_cursor` *(optional)* if present indicates that the previous chunk (page) exists and can be fetched using collection-specific endpoint and cursor value,
      - `items` a chunk (page) of unerlying collection items.
  - name: Concepts
    x-displayName: Concepts
    x-traitTag: true # Don't display endpoints under this tag
    description: |
      Interacting with this API effectively may require knowledge about the Radix Babylon Transaction Model and the State Model.

      We share some very high-level details below, but please see the [official documentation](http://docs.radixdlt.com) for more details on this.

      ## Transactions and the Gateway

      User transactions are formed of a core "intent", which is then signed by 0+ signatories, before being notarized. The output is called a notarized payload.
      It is this notarized transaction payload which is submitted to the network.

      For most users, this construction process will generally happen in their Radix Wallet. If you wish to construct transactions programmatically or offline,
      you will need to integrate the Radix Engine Toolkit into your application for construction and finalization.

      Once submitted, a transaction payload can end up being either rejected or committed. Transactions get rejected if they fail to pass certain criteria at the given time.
      A transaction payload can be marked as a:
      - **Permanent Rejection** if it is never possible for it to be committed (eg it's statically invalid, or only valid up until epoch 100 and it's now epoch 101)
      - **Temporary Rejection** if it still may be possible that the transaction payload could be committed

      A given intent typically is only part of one submitted notarized payload, but it's possible for a notary to notarize and submit multiple payloads for the same intent.
      The Radix Engine ensures that any intent can only be committed once.

      A committed transaction is either committed with an outcome of "Success" or "Failure":
      - **Committed Failure** will result in fees being paid up until the failure point, but all other changes will be discarded.
      - **Committed Success** will result in all changes being committed.

      Only committed transactions appear on ledger.

      The gateway will attempt to submit your transaction to nodes on the network.
      If it gets temporarily rejected, the error message will be recorded against the transaction, but the Gateway will
      retry submission for a limited time. During this time, the status will be reported as pending.

      ## State Model

      The Radix Engine consists of "global entities".
      A global entity has a Bech32m Address, with a human-readable-prefix (and prefix byte) matching the entity type.

      As an example, entities include concepts like Components, Packages, Vaults, Resource Managers and Key-Value Stores.

      Each entity owns substates which store data, and these substates can own other entities.
      For example, an Account Component has a struct substate which owns a Key-Value Store. This Key-Value store has an
      entry for each resoure the Account owns, and each Key-Value Store Entry owns a corresponding Vault.

      For each global entity, the Gateway aggregates its owned resources by looking at the contents of Vaults in the
      subtree of entities under that global entity.
  - name: Status
    x-displayName: Status Endpoints
    description: Query information about the Gateway API status.
  - name: Transaction
    x-displayName: Transaction Endpoints
    description: Query status of, construct, preview and submit transactions.
  - name: Stream
    x-displayName: Stream Endpoints
    description: Browse through the history of transactions.
  - name: State
    x-displayName: State Endpoints
    description: Query information snapshot about state of ledger entities at present or past time.
  - name: Statistics
    x-displayName: Statistics Endpoints
    description: Calculate particular statistics based on current or historic ledger state.

paths:
  "/status/gateway-status":
    post:
      operationId: GatewayStatus
      summary: Get Gateway Status
      description: |
        Returns the Gateway API version and current ledger state.
      tags:
        - Status
      responses:
        "200":
          description: Network Gateway Information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayStatusResponse"
  "/status/network-configuration":
    post:
      operationId: NetworkConfiguration
      summary: Get Network Configuration
      description: |
        Returns network identifier, network name and well-known network addresses.
      tags:
        - Status
      responses:
        "200":
          description: Network Configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkConfigurationResponse"

  "/transaction/construction":
    post:
      operationId: TransactionConstruction
      summary: Get Construction Metadata
      description: |
        Returns information needed to construct a new transaction including current `epoch` number.
      tags:
        - Transaction
      responses:
        "200":
          description: |
            Returns information needed to construct transaction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionConstructionResponse"
  "/transaction/preview":
    post:
      operationId: TransactionPreview
      summary: Preview Transaction
      description: |
        Previews transaction against the network.
        This endpoint is effectively a proxy towards CoreApi's `/v0/transaction/preview` endpoint. See CoreApi's documentation for more details.
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionPreviewRequest"
      responses:
        "200":
          description: Successful Preview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionPreviewResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"
  "/transaction/submit":
    post:
      operationId: TransactionSubmit
      summary: Submit Transaction
      description: |
        Submits a signed transaction payload to the network.
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionSubmitRequest"
      responses:
        "200":
          description: Successful Submission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionSubmitResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"
  "/transaction/committed-details":
    post:
      operationId: TransactionCommittedDetails
      summary: Get Committed Transaction Details
      description: |
        Returns the committed details and receipt of the transaction for a given transaction identifier.
        Transaction identifiers which don't correspond to a committed transaction will return a `TransactionNotFoundError`.
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionCommittedDetailsRequest"
      responses:
        "200":
          description: Transaction Status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionCommittedDetailsResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"
  "/transaction/status":
    post:
      operationId: TransactionStatus
      summary: Get Transaction Status
      description: |
        Returns overall transaction status and all of its known payloads based on supplied intent hash.
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionStatusRequest"
      responses:
        "200":
          description: Transaction Status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionStatusResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  "/stream/transactions":
    post:
      operationId: StreamTransactions
      summary: Get Transactions Stream
      description: |
        Returns transactions which have been committed to the ledger.
      tags:
        - Stream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamTransactionsRequest"
      responses:
        "200":
          description: Transactions (paginated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamTransactionsResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/entity/details:
    post:
      operationId: StateEntityDetails
      summary: Get Entity Details
      description: |
        Returns detailed information for collection of entities. Aggregate resources globally by default.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateEntityDetailsRequest"
      responses:
        "200":
          description: Entity Details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateEntityDetailsResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/entity/page/metadata:
    post:
      operationId: EntityMetadataPage
      summary: Get Entity Metadata Page
      description: |
        Returns all the metadata properties associated with a given global entity.
        The returned response is in a paginated format, ordered by first appearance on the ledger.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateEntityMetadataPageRequest"
      responses:
        "200":
          description: Entity Metadata (paginated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateEntityMetadataPageResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/entity/page/fungibles/:
    post:
      operationId: EntityFungiblesPage
      summary: Get Entity Fungible Resource Totals Page aggregated globally
      description: |
        Returns the total amount of each fungible resource owned by a given global entity.
        Result can be aggregated globally or per vault.
        The returned response is in a paginated format, ordered by the resource's first appearance on the ledger.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateEntityFungiblesPageRequest"
      responses:
        "200":
          description: Entity Fungibles (paginated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateEntityFungiblesPageResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/entity/page/fungible-vaults/:
    post:
      operationId: EntityFungibleResourceVaultPage
      summary: Get vault page of Entity Fungible resource aggregated per vault
      description: |
        Returns vaults for fungible resource owned by a given global entity.
        The returned response is in a paginated format, ordered by the resource's first appearance on the ledger.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateEntityFungibleResourceVaultsPageRequest"
      responses:
        "200":
          description: Entity Fungibles (paginated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateEntityFungibleResourceVaultsPageResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/entity/page/non-fungibles/:
    post:
      operationId: EntityNonFungiblesPage
      summary: Get Entity Non-Fungible Resource Totals Page aggregated globally
      description: |
        Returns the total amount of each non-fungible resource owned by a given global entity.
        Result can be aggregated globally or per vault.
        The returned response is in a paginated format, ordered by the resource's first appearance on the ledger.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateEntityNonFungiblesPageRequest"
      responses:
        "200":
          description: Entity Non-Fungibles (paginated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateEntityNonFungiblesPageResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/entity/page/non-fungible-vaults/:
    post:
      operationId: EntityNonFungibleResourceVaultPage
      summary: Get vault page of Entity Non Fungible aggregated per vault
      description: |
        Returns vaults for non fungible resource owned by a given global entity.
        The returned response is in a paginated format, ordered by the resource's first appearance on the ledger.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateEntityNonFungibleResourceVaultsPageRequest"
      responses:
        "200":
          description: Entity Fungibles (paginated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateEntityNonFungibleResourceVaultsPageResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/entity/page/non-fungible-vault/ids:
    post:
      operationId: EntityNonFungibleIdsPage
      summary: Get Entity Non-Fungible IDs
      description: |
        Returns all non-fungible IDs of a given non-fungible resource owned by a given entity.
        The returned response is in a paginated format, ordered by the resource's first appearence on the ledger.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateEntityNonFungibleIdsPageRequest"
      responses:
        "200":
          description: Entity Non-Fungible IDs (paginated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateEntityNonFungibleIdsPageResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/non-fungible/ids:
    post:
      operationId: NonFungibleIds
      summary: Get Non-Fungible Collection
      description: |
        Returns the non-fungible IDs of a given non-fungible resource.
        Returned response is in a paginated format, ordered by their first appearance on the ledger.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateNonFungibleIdsRequest"
      responses:
        "200":
          description: Non-Fungible IDs (paginated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateNonFungibleIdsResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"
  /state/non-fungible/data:
    post:
      operationId: NonFungibleData
      summary: Get Non-Fungible Data
      description: |
        Returns data associated with a given non-fungible ID of a given non-fungible resource.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateNonFungibleDataRequest"
      responses:
        "200":
          description: Non-Fungible ID Data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateNonFungibleDataResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"
  /state/non-fungible/location:
    post:
      operationId: NonFungibleLocation
      summary: Get Non-Fungible Location
      description: |
        Returns location of a given non-fungible ID.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateNonFungibleLocationRequest"
      responses:
        "200":
          description: Non-Fungible ID Location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateNonFungibleLocationResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/key-value-store/data:
    post:
      operationId: KeyValueStoreData
      summary: Get KeyValueStore Data
      description: |
        Returns data (value) associated with a given key of a given key-value store.
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateKeyValueStoreDataRequest"
      responses:
        "200":
          description: Non-Fungible ID Data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateKeyValueStoreDataResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /state/validators/list:
    post:
      operationId: StateValidatorsList
      summary: Get Validators List
      tags:
        - State
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateValidatorsListRequest"
      responses:
        "200":
          description: Validators List
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateValidatorsListResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

  /statistics/validators/uptime:
    post:
      operationId: ValidatorsUptime
      summary: Get Validators Uptime
      tags:
        - Statistics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidatorsUptimeRequest"
      responses:
        "200":
          description: Validators Uptime
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidatorsUptimeResponse"
        "4XX":
          $ref: "#/components/responses/ErrorResponse"

components:
  responses:
    ErrorResponse:
      description: Client-originated request error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:

    #
    # Aliases
    #

    NetworkId:
      description: The logical id of the network
      type: integer
      format: int32
      minimum: 0
      maximum: 255
      example: "<network-id>"

    NetworkName:
      description: The logical name of the network
      type: string
      example: "<network-name>"

    Address:
      description: Bech32m-encoded human readable version of the address.
      type: string

    BigDecimal:
      description: String-encoded decimal representing the amount of a related fungible resource.
      type: string

    NonFungibleId:
      description: String-encoded non-fungible ID.
      type: string

    HashBech32mString:
      description: Bech32m-encoded hash.
      type: string
    HashHexString:
      description: Hex-encoded SHA-256 hash.
      type: string
    HexString:
      description: Hex-encoded binary blob.
      type: string
    NotarizedTransactionHexString:
      description: Hex-encoded notarized transaction payload which can be submitted.
      type: string

    LastUpdatedAtStateVersion:
      description: TBD # TODO describe
      type: integer
      format: int64 # TODO define min/max using CoreApi as a reference

    #
    # Keys
    #

    PublicKeyType:
      type: string
      enum:
        - EcdsaSecp256k1
        - EddsaEd25519
    PublicKey:
      type: object
      required:
        - key_type
      properties:
        key_type:
          $ref: "#/components/schemas/PublicKeyType"
      discriminator:
        propertyName: key_type
        mapping:
          # NOTE: These need to match PublicKeyType
          EcdsaSecp256k1: "#/components/schemas/PublicKeyEcdsaSecp256k1"
          EddsaEd25519: "#/components/schemas/PublicKeyEddsaEd25519"
    PublicKeyEcdsaSecp256k1:
      allOf:
        - $ref: "#/components/schemas/PublicKey"
        - type: object
          required:
            - key_hex
          properties:
            key_hex:
              type: string
              minLength: 66
              maxLength: 66
              description: The hex-encoded compressed ECDSA Secp256k1 public key (33 bytes)
    PublicKeyEddsaEd25519:
      allOf:
        - $ref: "#/components/schemas/PublicKey"
        - type: object
          required:
            - key_hex
          properties:
            key_hex:
              type: string
              minLength: 64
              maxLength: 64
              description: The hex-encoded compressed EdDSA Ed25519 public key (32 bytes)

    PublicKeyHashType:
      type: string
      enum:
        - EcdsaSecp256k1
        - EddsaEd25519
    PublicKeyHash:
      type: object
      required:
        - key_hash_type
      properties:
        key_hash_type:
          $ref: "#/components/schemas/PublicKeyHashType"
      discriminator:
        propertyName: key_hash_type
        mapping:
          # NOTE: These need to match PublicKeyHashType
          EcdsaSecp256k1: "#/components/schemas/PublicKeyHashEcdsaSecp256k1"
          EddsaEd25519: "#/components/schemas/PublicKeyHashEddsaEd25519"
    PublicKeyHashEcdsaSecp256k1:
      allOf:
        - $ref: "#/components/schemas/PublicKeyHash"
        - type: object
          required:
            - hash_hex
          properties:
            hash_hex:
              $ref: "#/components/schemas/HashHexString"
    PublicKeyHashEddsaEd25519:
      allOf:
        - $ref: "#/components/schemas/PublicKeyHash"
        - type: object
          required:
            - hash_hex
          properties:
            hash_hex:
              $ref: "#/components/schemas/HashHexString"

    #
    # Common Request Types
    #

    AtLedgerStateMixin:
      type: object
      properties:
        at_ledger_state:
          $ref: "#/components/schemas/LedgerStateSelector"

    LedgerStateSelector:
      description: |
        Optional. This allows for a request to be made against a historic state.
        If a constraint is specified, the Gateway will resolve the request against the ledger state at that time.
        If not specified, requests will be made with respect to the top of the committed ledger.
      type: object
      nullable: true
      properties:
        state_version:
          description: If provided, the latest ledger state lower than or equal to the given state version is returned.
          nullable: true
          type: integer
          format: int64
        timestamp:
          description: If provided, the latest ledger state lower than or equal to the given round timestamp is returned.
          nullable: true
          type: string
          format: date-time
        epoch:
          description: If provided, the ledger state lower than or equal to the given epoch at round 0 is returned.
          nullable: true
          type: integer
          format: int64
        round:
          description: If provided must be accompanied with `epoch`, the ledger state lower than or equal to the given epoch and round is returned.
          nullable: true
          type: integer
          format: int64

    CursorLimitMixin:
      type: object
      properties:
        cursor:
          description: This cursor allows forward pagination, by providing the cursor from the previous request.
          type: string
          nullable: true
        limit_per_page:
          description: The page size requested.
          type: integer
          nullable: true

    #
    # Common Response Types
    #

    ObjectModuleId:
      type: string
      enum:
        - Main
        - Metadata
        - Royalty
        - RoleAssignment

    ValidatorVaultItem:
      type: object
      required:
        - balance
        - last_changed_at_state_version
        - address
      properties:
        balance:
          $ref: "#/components/schemas/BigDecimal"
        last_changed_at_state_version:
          type: integer
          format: int64
        address:
          $ref: "#/components/schemas/Address"

    LedgerStateMixin:
      type: object
      required:
        - ledger_state
      properties:
        ledger_state:
          $ref: "#/components/schemas/LedgerState"
    ResultSetCursorMixin:
      type: object
      properties:
        total_count:
          description: Total number of items in underlying collection, fragment of which is available in `items` collection.
          type: integer
          format: int64
          nullable: true
        previous_cursor:
          description: If specified, contains a cursor to query previous page of the `items` collection.
          type: string
          nullable: true
        next_cursor:
          description: If specified, contains a cursor to query next page of the `items` collection.
          type: string
          nullable: true

    LedgerState:
      description: |
        The ledger state against which the response was generated.
        Can be used to detect if the Network Gateway is returning up-to-date information.
      type: object
      required:
        - network
        - state_version
        - proposer_round_timestamp
        - epoch
        - round
      properties:
        network:
          $ref: "#/components/schemas/NetworkName"
        state_version:
          description: The state version of the ledger. Each transaction increments the state version by 1.
          type: integer
          format: int64
        proposer_round_timestamp:
          description: |
            The proposer round timestamp of the consensus round when this transaction was committed to ledger.
            This is not guaranteed to be strictly increasing, as it is computed as an average across the validator set.
            If this is significantly behind the current timestamp, the Network Gateway is likely reporting out-dated
            information, or the network has stalled.
          type: string
          # TODO add format: date-time once OAS generator get fixed support for required value-types
        epoch:
          description: The epoch number of the ledger at this state version.
          type: integer
          format: int64
        round:
          description: The consensus round in the epoch that this state version was committed in.
          type: integer
          format: int64

    ResourceAggregationLevel:
      type: string
      enum:
        - Global
        - Vault

    ScryptoSborValue:
      type: object
      required:
        - raw_hex
        - programmatic_json
      properties:
        raw_hex:
          type: string
        programmatic_json:
          type: object

    EntityMetadataCollection:
      description: Entity metadata collection.
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/EntityMetadataItem"
    EntityMetadataItem:
      description: Entity metadata key-value pair.
      type: object
      required:
        - key
        - value
        - is_locked
        - last_updated_at_state_version
      properties:
        key:
          description: Entity metadata key.
          type: string
        value:
          $ref: "#/components/schemas/EntityMetadataItemValue"
        is_locked:
          type: boolean
        last_updated_at_state_version:
          $ref: "#/components/schemas/LastUpdatedAtStateVersion"
    EntityMetadataItemValue:
      allOf:
        - $ref: "#/components/schemas/ScryptoSborValue"
        - type: object
          required:
            - typed
          properties:
            typed:
              $ref: "#/components/schemas/MetadataTypedValue"

    ComponentEntityRoleAssignments:
      type: object
      required:
        - owner
        - entries
      properties:
        owner:
          type: object
        entries:
          type: array
          items:
            $ref: "#/components/schemas/ComponentEntityRoleAssignmentEntry"

    ComponentEntityRoleAssignmentEntry:
      type: object
      required:
        - role_key
        - assignment
      properties:
        role_key:
          $ref: "#/components/schemas/RoleKey"
        assignment:
          type: object
          required:
            - resolution
          properties:
            resolution:
              $ref: "#/components/schemas/RoleAssignmentResolution"
            explicit_rule:
              type: object
        updater_roles:
          type: array
          items:
            $ref: "#/components/schemas/RoleKey"

    RoleAssignmentResolution:
      type: string
      enum:
        - Explicit
        - Owner

    RoleKey:
      type: object
      required:
        - module
        - name
      properties:
        name:
          type: string
        module:
          $ref: "#/components/schemas/ObjectModuleId"

    FungibleResourcesCollection:
      description: Fungible resources collection.
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/FungibleResourcesCollectionItem"
    FungibleResourcesCollectionItem:
      type: object
      required:
        - aggregation_level
        - resource_address
      properties:
        aggregation_level:
          $ref: "#/components/schemas/ResourceAggregationLevel"
        resource_address:
          $ref: "#/components/schemas/Address"
        explicit_metadata:
          $ref: "#/components/schemas/EntityMetadataCollection"
      discriminator:
        propertyName: aggregation_level
        mapping:
          # NOTE: These need to match ResourceAggregationLevel
          Global: '#/components/schemas/FungibleResourcesCollectionItemGloballyAggregated'
          Vault: '#/components/schemas/FungibleResourcesCollectionItemVaultAggregated'
    FungibleResourcesCollectionItemGloballyAggregated:
      allOf:
        - $ref: "#/components/schemas/FungibleResourcesCollectionItem"
        - type: object
          required:
            - amount
            - last_updated_at_state_version
          properties:
            amount:
              $ref: "#/components/schemas/BigDecimal"
            last_updated_at_state_version:
              $ref: "#/components/schemas/LastUpdatedAtStateVersion"
    FungibleResourcesCollectionItemVaultAggregated:
      allOf:
        - $ref: "#/components/schemas/FungibleResourcesCollectionItem"
        - type: object
          required:
            - vaults
          properties:
            vaults:
              $ref: "#/components/schemas/FungibleResourcesCollectionItemVaultAggregatedVault"
    FungibleResourcesCollectionItemVaultAggregatedVault:
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/FungibleResourcesCollectionItemVaultAggregatedVaultItem"
    FungibleResourcesCollectionItemVaultAggregatedVaultItem:
      type: object
      required:
        - vault_address
        - amount
        - last_updated_at_state_version
      properties:
        vault_address:
          $ref: "#/components/schemas/Address"
        amount:
          $ref: "#/components/schemas/BigDecimal"
        last_updated_at_state_version:
          $ref: "#/components/schemas/LastUpdatedAtStateVersion"

    NonFungibleResourcesCollection:
      description: Non-fungible resources collection.
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/NonFungibleResourcesCollectionItem"
    NonFungibleResourcesCollectionItem:
      type: object
      required:
        - aggregation_level
        - resource_address
      properties:
        aggregation_level:
          $ref: "#/components/schemas/ResourceAggregationLevel"
        resource_address:
          $ref: "#/components/schemas/Address"
        explicit_metadata:
          $ref: "#/components/schemas/EntityMetadataCollection"
      discriminator:
        propertyName: aggregation_level
        mapping:
          # NOTE: These need to match ResourceAggregationLevel
          Global: '#/components/schemas/NonFungibleResourcesCollectionItemGloballyAggregated'
          Vault: '#/components/schemas/NonFungibleResourcesCollectionItemVaultAggregated'
    NonFungibleResourcesCollectionItemGloballyAggregated:
      allOf:
        - $ref: "#/components/schemas/NonFungibleResourcesCollectionItem"
        - type: object
          required:
            - amount
            - last_updated_at_state_version
          properties:
            amount:
              description: TBA # TODO describe
              type: integer
              format: int64
            last_updated_at_state_version:
              $ref: "#/components/schemas/LastUpdatedAtStateVersion"
    NonFungibleResourcesCollectionItemVaultAggregated:
      allOf:
        - $ref: "#/components/schemas/NonFungibleResourcesCollectionItem"
        - type: object
          required:
            - vaults
          properties:
            vaults:
              $ref: "#/components/schemas/NonFungibleResourcesCollectionItemVaultAggregatedVault"
    NonFungibleResourcesCollectionItemVaultAggregatedVault:
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/NonFungibleResourcesCollectionItemVaultAggregatedVaultItem"
    NonFungibleResourcesCollectionItemVaultAggregatedVaultItem:
      allOf:
        - $ref: "#/components/schemas/OptionalNonFungibleIdsCollection"
        - type: object
          required:
            - vault_address
            - total_count
            - last_updated_at_state_version
          properties:
            vault_address:
              $ref: "#/components/schemas/Address"
            total_count:
              type: integer
              format: int64
            last_updated_at_state_version:
              $ref: "#/components/schemas/LastUpdatedAtStateVersion"

    OptionalNonFungibleIdsCollection:
      description: Non-fungible resource IDs collection.
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/NonFungibleId"

    NonFungibleIdsCollection:
      description: Non-fungible resource IDs collection.
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/NonFungibleId"

    CommittedTransactionInfo:
      type: object
      required:
        - state_version
        - epoch
        - round
        - round_timestamp
        - transaction_status
      properties:
        state_version:
          type: integer
          format: int64
        epoch:
          type: integer
          format: int64
        round:
          type: integer
          format: int64
        round_timestamp:
          type: string
          # TODO add format: date-time once OAS generator get fixed support for required value-types
        transaction_status:
          $ref: "#/components/schemas/TransactionStatus"
        payload_hash:
          $ref: "#/components/schemas/HashBech32mString"
        intent_hash:
          $ref: "#/components/schemas/HashBech32mString"
        fee_paid:
          $ref: "#/components/schemas/BigDecimal"
        affected_global_entities:
          type: array
          items:
            $ref: "#/components/schemas/Address"
        confirmed_at:
          nullable: true
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
        raw_hex:
          $ref: "#/components/schemas/HexString"
        receipt:
          $ref: "#/components/schemas/TransactionReceipt"
        message:
          type: object
          description: defined in core api specs.

    TransactionStatus:
      type: string
      enum:
        - Unknown
        - CommittedSuccess
        - CommittedFailure
        - Pending
        - Rejected

    TransactionReceipt:
      type: object
      properties:
        status:
          description: The status of the transaction.
          type: object
        fee_summary:
          description: Fees paid, Only present if the `status` is not `Rejected`.
          type: object
        costing_parameters:
          type: object
        fee_destination:
          description: Only present if the `status` is not `Rejected`.
          type: object
        fee_source:
          description: Only present if the `status` is not `Rejected`.
          type: object
        state_updates:
          description: Transaction state updates (only present if status is Succeeded or Failed).
          type: object
        next_epoch:
          description: Information (number and active validator list) about new epoch if occured.
          type: object
        output:
          description: The manifest line-by-line engine return data (only present if `status` is `Succeeded`).
          type: object
        events:
          description: Events emitted by a transaction.
          type: object
        error_message:
          description: Error message (only present if status is `Failed` or `Rejected`)
          type: string
          nullable: true

    NonFungibleIdType:
      type: string
      enum:
        - String
        - Integer
        - Bytes
        - Ruid

    PackageVmType:
      type: string
      enum:
        - Native
        - ScryptoV1

    ValidatorUptimeCollection:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ValidatorUptimeCollectionItem"
    ValidatorUptimeCollectionItem:
      type: object
      required:
        - address
        - epochs_active_in
      properties:
        address:
          $ref: "#/components/schemas/Address"
        proposals_made:
          type: integer
          format: int64
          nullable: true
        proposals_missed:
          type: integer
          format: int64
          nullable: true
        epochs_active_in:
          type: integer
          format: int64

    ValidatorCollection:
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/ValidatorCollectionItem"
    ValidatorCollectionItem:
      type: object
      required:
        - address
        - metadata
        - stake_vault
        - pending_xrd_withdraw_vault
        - locked_owner_stake_unit_vault
        - pending_owner_stake_unit_unlock_vault
      properties:
        address:
          $ref: "#/components/schemas/Address"
        stake_vault:
          $ref: "#/components/schemas/ValidatorVaultItem"
        pending_xrd_withdraw_vault:
          $ref: "#/components/schemas/ValidatorVaultItem"
        locked_owner_stake_unit_vault:
          $ref: "#/components/schemas/ValidatorVaultItem"
        pending_owner_stake_unit_unlock_vault:
          $ref: "#/components/schemas/ValidatorVaultItem"
        state:
          type: object
          nullable: true
        active_in_epoch:
          $ref: "#/components/schemas/ValidatorCollectionItemActiveInEpoch"
        metadata:
          $ref: "#/components/schemas/EntityMetadataCollection"
    ValidatorCollectionItemActiveInEpoch:
      type: object
      required:
        - stake
        - stake_percentage
        - key
      properties:
        stake:
          $ref: "#/components/schemas/BigDecimal"
        stake_percentage:
          type: number
          format: double
        key:
          $ref: "#/components/schemas/PublicKey"

    #
    # /status/* Request & Response Types
    #
    NetworkConfigurationResponse:
      type: object
      required:
        - network_id
        - network_name
        - well_known_addresses
      properties:
        network_id:
          $ref: "#/components/schemas/NetworkId"
        network_name:
          $ref: "#/components/schemas/NetworkName"
        well_known_addresses:
          type: object
          required:
            - xrd
            - secp256k1_signature_virtual_badge
            - ed25519_signature_virtual_badge
            - package_of_direct_caller_virtual_badge
            - global_caller_virtual_badge
            - system_transaction_badge
            - package_owner_badge
            - validator_owner_badge
            - account_owner_badge
            - identity_owner_badge
            - package_package
            - resource_package
            - account_package
            - identity_package
            - consensus_manager_package
            - access_controller_package
            - transaction_processor_package
            - metadata_module_package
            - royalty_module_package
            - access_rules_package
            - genesis_helper_package
            - faucet_package
            - consensus_manager
            - genesis_helper
            - faucet
            - pool_package
          properties:
            xrd:
              $ref: "#/components/schemas/Address"
            secp256k1_signature_virtual_badge:
              $ref: "#/components/schemas/Address"
            ed25519_signature_virtual_badge:
              $ref: "#/components/schemas/Address"
            package_of_direct_caller_virtual_badge:
              $ref: "#/components/schemas/Address"
            global_caller_virtual_badge:
              $ref: "#/components/schemas/Address"
            system_transaction_badge:
              $ref: "#/components/schemas/Address"
            package_owner_badge:
              $ref: "#/components/schemas/Address"
            validator_owner_badge:
              $ref: "#/components/schemas/Address"
            account_owner_badge:
              $ref: "#/components/schemas/Address"
            identity_owner_badge:
              $ref: "#/components/schemas/Address"
            package_package:
              $ref: "#/components/schemas/Address"
            resource_package:
              $ref: "#/components/schemas/Address"
            account_package:
              $ref: "#/components/schemas/Address"
            identity_package:
              $ref: "#/components/schemas/Address"
            consensus_manager_package:
              $ref: "#/components/schemas/Address"
            access_controller_package:
              $ref: "#/components/schemas/Address"
            transaction_processor_package:
              $ref: "#/components/schemas/Address"
            metadata_module_package:
              $ref: "#/components/schemas/Address"
            royalty_module_package:
              $ref: "#/components/schemas/Address"
            access_rules_package:
              $ref: "#/components/schemas/Address"
            genesis_helper_package:
              $ref: "#/components/schemas/Address"
            faucet_package:
              $ref: "#/components/schemas/Address"
            consensus_manager:
              $ref: "#/components/schemas/Address"
            genesis_helper:
              $ref: "#/components/schemas/Address"
            faucet:
              $ref: "#/components/schemas/Address"
            pool_package:
              $ref: "#/components/schemas/Address"

    GatewayStatusResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - release_info
          properties:
            release_info:
              $ref: "#/components/schemas/GatewayInfoResponseReleaseInfo"
    GatewayInfoResponseKnownTarget:
      type: object
      required:
        - state_version
      properties:
        state_version:
          description: |
            The latest-seen state version of the tip of the network's ledger. If this is significantly ahead of the current ledger state version, the Network Gateway is possibly behind and may be reporting outdated information.
          type: integer
          format: int64
    GatewayInfoResponseReleaseInfo:
      type: object
      required:
        - release_version
        - image_tag
        - open_api_schema_version
      properties:
        release_version:
          description: The release that is currently deployed to the Gateway API.
          type: string
        open_api_schema_version:
          description: The Open API Schema version that was used to generate the API models.
          type: string
        image_tag:
          description: Image tag that is currently deployed to the Gateway API.
          type: string

    #
    # /transaction/* Request & Response Types
    #

    TransactionConstructionResponse:
      allOf:
        - type: object
        - $ref: "#/components/schemas/LedgerStateMixin"

    TransactionPreviewRequest:
      type: object
      required:
        - manifest
        - start_epoch_inclusive
        - end_epoch_exclusive
        - tip_percentage
        - nonce
        - signer_public_keys
        - flags
      properties:
        manifest:
          description: A text-representation of a transaction manifest
          type: string
        blobs_hex:
          description: An array of hex-encoded blob data (optional)
          type: array
          items:
            type: string
        start_epoch_inclusive:
          type: integer
          format: int64
          minimum: 0
          maximum: 10000000000
          description: An integer between `0` and `10^10`, marking the epoch at which the transaction starts being valid
        end_epoch_exclusive:
          type: integer
          format: int64
          minimum: 0
          maximum: 10000000000
          description: An integer between `0` and `10^10`, marking the epoch at which the transaction is no longer valid
        notary_public_key:
          $ref: "#/components/schemas/PublicKey"
          description: The notary public key to use (optional)
        notary_is_signatory:
          type: boolean
          description: Whether the notary should count as a signatory (optional, default false)
        tip_percentage:
          type: integer
          format: int32
          minimum: 0
          maximum: 255
          description: An integer between `0` and `255`, giving the validator tip as a percentage amount. A value of `1` corresponds to 1% of the fee.
        nonce:
          type: integer
          format: int64
          minimum: 0
          description: A decimal-string-encoded integer between `0` and `2^32 - 1`, used to ensure the transaction intent is unique.
        signer_public_keys:
          type: array
          items:
            $ref: "#/components/schemas/PublicKey"
          description: A list of public keys to be used as transaction signers
        flags:
          type: object
          required:
            - use_free_credit
            - assume_all_signature_proofs
            - skip_epoch_check
          properties:
            use_free_credit:
              type: boolean
            assume_all_signature_proofs:
              type: boolean
            skip_epoch_check:
              type: boolean
    TransactionPreviewResponse:
      type: object
      required:
        - encoded_receipt
        - receipt
        - resource_changes
        - logs
      properties:
        encoded_receipt:
          $ref: "#/components/schemas/HexString"
        receipt:
          type: object
        resource_changes:
          type: array
          items:
            type: object
        logs:
          type: array
          items:
            type: object
            required:
              - level
              - message
            properties:
              level:
                type: string
              message:
                type: string

    TransactionSubmitRequest:
      type: object
      required:
        - notarized_transaction_hex
      properties:
        notarized_transaction_hex:
          $ref: "#/components/schemas/NotarizedTransactionHexString"
    TransactionSubmitResponse:
      type: object
      required:
        - duplicate
      properties:
        duplicate:
          type: boolean
          description: Is true if the transaction is a duplicate of an existing pending transaction.

    TransactionStatusRequest:
      allOf:
        - type: object
          required:
            - intent_hash
          properties:
            intent_hash:
              $ref: "#/components/schemas/HashBech32mString"
      example:
        intent_hash: "<transaction-intent-hash>"
    TransactionStatusResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - status
            - known_payloads
          properties:
            status:
              $ref: "#/components/schemas/TransactionStatus"
            known_payloads:
              type: array
              items:
                $ref: "#/components/schemas/TransactionStatusResponseKnownPayloadItem"
            error_message:
              type: string
              nullable: true
    TransactionStatusResponseKnownPayloadItem:
      type: object
      required:
        - payload_hash
        - status
      properties:
        payload_hash:
          $ref: "#/components/schemas/HashBech32mString"
        status:
          $ref: "#/components/schemas/TransactionStatus"
        error_message:
          type: string
          nullable: true

    TransactionCommittedDetailsRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - type: object
          required:
            - intent_hash
          properties:
            intent_hash:
              $ref: "#/components/schemas/HashBech32mString"
            opt_ins:
              $ref: "#/components/schemas/TransactionDetailsOptIns"
      example:
        intent_hash: "<transaction-intent-hash>"
    TransactionDetailsOptIns:
      type: object
      properties:
        raw_hex:
          type: boolean
        receipt_state_changes:
          type: boolean
        receipt_fee_summary:
          type: boolean
        receipt_fee_source:
          type: boolean
        receipt_fee_destination:
          type: boolean
        receipt_costing_parameters:
          type: boolean
        receipt_events:
          type: boolean
        affected_global_entities:
          type: boolean
    TransactionCommittedDetailsResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - transaction
          properties:
            transaction:
              $ref: "#/components/schemas/CommittedTransactionInfo"

    #
    # /stream/* Request & Response Types
    #

    StreamTransactionsRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - $ref: "#/components/schemas/CursorLimitMixin"
        - type: object
          properties:
            from_ledger_state:
              $ref: "#/components/schemas/LedgerStateSelector"
            kind_filter:
              description: Limit returned transactions by their kind. Defaults to `user`.
              type: string
              enum:
                - User
                - EpochChange
                - All
            manifest_accounts_withdrawn_from_filter:
              type: array
              items:
                $ref: "#/components/schemas/Address"
            manifest_accounts_deposited_into_filter:
              type: array
              items:
                $ref: "#/components/schemas/Address"
            manifest_resources_filter:
              type: array
              items:
                $ref: "#/components/schemas/Address"
            affected_global_entities_filter:
              type: array
              items:
                $ref: "#/components/schemas/Address"
            events_filter:
              type: array
              items:
                $ref: "#/components/schemas/StreamTransactionsRequestEventFilterItem"
            order:
              description: Configures the order of returned result set. Defaults to `desc`.
              type: string
              enum:
                - Asc
                - Desc
            opt_ins:
              $ref: "#/components/schemas/TransactionDetailsOptIns"
      example:
        limit_per_page: 5
    StreamTransactionsRequestEventFilterItem:
      type: object
      required:
        - event
      properties:
        event:
          type: string
          enum:
            - Deposit
            - Withdrawal
        emitter_address:
          $ref: "#/components/schemas/Address"
        resource_address:
          $ref: "#/components/schemas/Address"
        quantity:
          $ref: "#/components/schemas/BigDecimal"
    StreamTransactionsResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              description: The page of user transactions.
              type: array
              items:
                $ref: "#/components/schemas/CommittedTransactionInfo"

    #
    # /state/entity/* Request & Response Types
    #

    StateEntityDetailsRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - type: object
          required:
            - addresses
          properties:
            opt_ins:
              $ref: "#/components/schemas/StateEntityDetailsOptIns"
            addresses:
              type: array
              items:
                $ref: "#/components/schemas/Address"
            aggregation_level:
              $ref: "#/components/schemas/ResourceAggregationLevel"
      example:
        addresses:
          - "<entity-address>"
        aggregation_level: "Vault"
        opt_ins:
          ancestor_identities: true
          component_royalty_vault_balance: true
          package_royalty_vault_balance: true
          non_fungible_include_nfids: true
          explicit_metadata:
            - name
            - description
    StateEntityDetailsOptIns:
      type: object
      properties:
        ancestor_identities:
          type: boolean
        component_royalty_vault_balance:
          type: boolean
        package_royalty_vault_balance:
          type: boolean
        non_fungible_include_nfids:
          type: boolean
        explicit_metadata:
          type: array
          items:
            type: string
    StateEntityDetailsResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/StateEntityDetailsResponseItem"
    StateEntityDetailsResponseItem:
      type: object
      required:
        - address
        - metadata
      properties:
        address:
          $ref: "#/components/schemas/Address"
        fungible_resources:
          $ref: "#/components/schemas/FungibleResourcesCollection"
        non_fungible_resources:
          $ref: "#/components/schemas/NonFungibleResourcesCollection"
        ancestor_identities:
          $ref: "#/components/schemas/StateEntityDetailsResponseItemAncestorIdentities"
        metadata:
          $ref: "#/components/schemas/EntityMetadataCollection"
        explicit_metadata:
          $ref: "#/components/schemas/EntityMetadataCollection"
        details:
          $ref: "#/components/schemas/StateEntityDetailsResponseItemDetails"
    StateEntityDetailsResponseItemAncestorIdentities:
      type: object
      properties:
        parent_address:
          $ref: "#/components/schemas/Address"
        owner_address:
          $ref: "#/components/schemas/Address"
        global_address:
          $ref: "#/components/schemas/Address"
    StateEntityDetailsResponseItemDetailsType:
      type: string
      enum:
        - FungibleResource
        - NonFungibleResource
        - FungibleVault
        - NonFungibleVault
        - Package
        - Component
    StateEntityDetailsResponseItemDetails:
      type: object
      required:
        - type
      properties:
        type:
          $ref: "#/components/schemas/StateEntityDetailsResponseItemDetailsType"
      discriminator:
        propertyName: type
        mapping:
          # Must match StateEntityDetailsResponseDetailsType
          FungibleResource: "#/components/schemas/StateEntityDetailsResponseFungibleResourceDetails"
          NonFungibleResource: "#/components/schemas/StateEntityDetailsResponseNonFungibleResourceDetails"
          FungibleVault: "#/components/schemas/StateEntityDetailsResponseFungibleVaultDetails"
          NonFungibleVault: "#/components/schemas/StateEntityDetailsResponseNonFungibleVaultDetails"
          Package: "#/components/schemas/StateEntityDetailsResponsePackageDetails"
          Component: "#/components/schemas/StateEntityDetailsResponseComponentDetails"
    StateEntityDetailsResponseFungibleResourceDetails:
      allOf:
        - $ref: "#/components/schemas/StateEntityDetailsResponseItemDetails"
        - type: object
          required:
            - role_assignments
            - divisibility
            - total_supply
            - total_minted
            - total_burned
          properties:
            role_assignments:
              $ref: "#/components/schemas/ComponentEntityRoleAssignments"
            divisibility:
              type: integer
              minimum: 0
            total_supply:
              $ref: "#/components/schemas/BigDecimal"
            total_minted:
              $ref: "#/components/schemas/BigDecimal"
            total_burned:
              $ref: "#/components/schemas/BigDecimal"
    StateEntityDetailsResponseNonFungibleResourceDetails:
      allOf:
        - $ref: "#/components/schemas/StateEntityDetailsResponseItemDetails"
        - type: object
          required:
            - role_assignments
            - non_fungible_id_type
            - total_supply
            - total_minted
            - total_burned
          properties:
            role_assignments:
              $ref: "#/components/schemas/ComponentEntityRoleAssignments"
            non_fungible_id_type:
              $ref: "#/components/schemas/NonFungibleIdType"
            total_supply:
              $ref: "#/components/schemas/BigDecimal"
            total_minted:
              $ref: "#/components/schemas/BigDecimal"
            total_burned:
              $ref: "#/components/schemas/BigDecimal"
    StateEntityDetailsResponseFungibleVaultDetails:
      allOf:
        - $ref: "#/components/schemas/StateEntityDetailsResponseItemDetails"
        - type: object
    StateEntityDetailsResponseNonFungibleVaultDetails:
      allOf:
        - $ref: "#/components/schemas/StateEntityDetailsResponseItemDetails"
        - type: object
    StateEntityDetailsResponsePackageDetails:
      allOf:
        - $ref: "#/components/schemas/StateEntityDetailsResponseItemDetails"
        - type: object
          required:
            - vm_type
            - code_hash_hex
            - code_hex
          properties:
            vm_type:
              $ref: "#/components/schemas/PackageVmType"
            code_hash_hex:
              $ref: "#/components/schemas/HexString"
            code_hex:
              $ref: "#/components/schemas/HexString"
            royalty_vault_balance:
              $ref: "#/components/schemas/BigDecimal"
            blueprints:
              $ref: "#/components/schemas/StateEntityDetailsResponsePackageDetailsBlueprintCollection"
            schemas:
              $ref: "#/components/schemas/StateEntityDetailsResponsePackageDetailsSchemaCollection"
    StateEntityDetailsResponsePackageDetailsBlueprintCollection:
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/StateEntityDetailsResponsePackageDetailsBlueprintItem"
    StateEntityDetailsResponsePackageDetailsBlueprintItem:
      type: object
      required:
        - name
        - version
        - definition
      properties:
        name:
          type: string
        version:
          type: string
        definition:
          type: object
        dependant_entities:
          type: array
          items:
            $ref: "#/components/schemas/Address"
        auth_template:
          type: object
        auth_template_is_locked:
          type: boolean
          nullable: true
        royalty_config:
          type: object
        royalty_config_is_locked:
          type: boolean
          nullable: true
    StateEntityDetailsResponsePackageDetailsSchemaCollection:
      allOf:
        - $ref: "#/components/schemas/ResultSetCursorMixin"
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/StateEntityDetailsResponsePackageDetailsSchemaItem"
    StateEntityDetailsResponsePackageDetailsSchemaItem:
      type: object
      required:
        - schema_hash_hex
        - schema_hex
      properties:
        schema_hash_hex:
          $ref: "#/components/schemas/HexString"
        schema_hex:
          $ref: "#/components/schemas/HexString"
    StateEntityDetailsResponseComponentDetails:
      allOf:
        - $ref: "#/components/schemas/StateEntityDetailsResponseItemDetails"
        - type: object
          required:
            - blueprint_name
          properties:
            package_address:
              $ref: "#/components/schemas/Address"
            blueprint_name:
              type: string
            state:
              type: object
            role_assignments:
              $ref: "#/components/schemas/ComponentEntityRoleAssignments"
            royalty_vault_balance:
              $ref: "#/components/schemas/BigDecimal"

    StateEntityMetadataPageRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - $ref: "#/components/schemas/CursorLimitMixin"
        - type: object
          required:
            - address
          properties:
            address:
              $ref: "#/components/schemas/Address"
      example:
        address: "<entity-address>"
    StateEntityMetadataPageResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - $ref: "#/components/schemas/EntityMetadataCollection"
        - type: object
          required:
            - address
          properties:
            address:
              $ref: "#/components/schemas/Address"

    StateEntityFungiblesPageRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - $ref: "#/components/schemas/CursorLimitMixin"
        - type: object
          required:
            - address
          properties:
            address:
              $ref: "#/components/schemas/Address"
            aggregation_level:
              $ref: "#/components/schemas/ResourceAggregationLevel"
            opt_ins:
              $ref: "#/components/schemas/StateEntityFungiblesPageRequestOptIns"
      example:
        address: "<component-entity-address>"
    StateEntityFungiblesPageRequestOptIns:
      type: object
      properties:
        explicit_metadata:
          type: array
          items:
            type: string
    StateEntityFungiblesPageResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - $ref: "#/components/schemas/FungibleResourcesCollection"
        - type: object
          required:
            - address
          properties:
            address:
              $ref: "#/components/schemas/Address"
    StateEntityFungibleResourceVaultsPageRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - $ref: "#/components/schemas/CursorLimitMixin"
        - type: object
          required:
            - address
            - resource_address
          properties:
            address:
              $ref: "#/components/schemas/Address"
            resource_address:
              $ref: "#/components/schemas/Address"
      example:
        address: "<component-entity-address>"
        resource_address: "<resource_address>"
    StateEntityFungibleResourceVaultsPageResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - $ref: "#/components/schemas/FungibleResourcesCollectionItemVaultAggregatedVault"
        - type: object
          required:
            - address
            - resource_address
          properties:
            address:
              $ref: "#/components/schemas/Address"
            resource_address:
              $ref: "#/components/schemas/Address"

    StateEntityNonFungiblesPageRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - $ref: "#/components/schemas/CursorLimitMixin"
        - type: object
          required:
            - address
          properties:
            address:
              $ref: "#/components/schemas/Address"
            aggregation_level:
              $ref: "#/components/schemas/ResourceAggregationLevel"
            opt_ins:
              $ref: "#/components/schemas/StateEntityNonFungiblesPageRequestOptIns"
      example:
        address: "<component-entity-address>"
    StateEntityNonFungiblesPageRequestOptIns:
      type: object
      properties:
        non_fungible_include_nfids:
          type: boolean
        explicit_metadata:
          type: array
          items:
            type: string
    StateEntityNonFungiblesPageResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - $ref: "#/components/schemas/NonFungibleResourcesCollection"
        - type: object
          required:
            - address
          properties:
            address:
              $ref: "#/components/schemas/Address"

    StateEntityNonFungibleResourceVaultsPageRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - $ref: "#/components/schemas/CursorLimitMixin"
        - type: object
          required:
            - address
            - resource_address
          properties:
            address:
              $ref: "#/components/schemas/Address"
            resource_address:
              $ref: "#/components/schemas/Address"
            opt_ins:
              $ref: "#/components/schemas/StateEntityNonFungibleResourceVaultsPageOptIns"
      example:
        address: "<component-entity-address>"
        resource_address: "<resource_address>"
    StateEntityNonFungibleResourceVaultsPageOptIns:
      type: object
      properties:
        non_fungible_include_nfids:
          type: boolean

    StateEntityNonFungibleResourceVaultsPageResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - $ref: "#/components/schemas/NonFungibleResourcesCollectionItemVaultAggregatedVault"
        - type: object
          required:
            - address
            - resource_address
          properties:
            address:
              $ref: "#/components/schemas/Address"
            resource_address:
              $ref: "#/components/schemas/Address"

    StateEntityNonFungibleIdsPageRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - $ref: "#/components/schemas/CursorLimitMixin"
        - type: object
          required:
            - address
            - vault_address
            - resource_address
          properties:
            address:
              $ref: "#/components/schemas/Address"
            vault_address:
              $ref: "#/components/schemas/Address"
            resource_address:
              $ref: "#/components/schemas/Address"
      example:
        address: "<component-entity-address>"
        resource_address: null
        vault_address: null
    StateEntityNonFungibleIdsPageResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - $ref: "#/components/schemas/NonFungibleIdsCollection"
        - type: object
          required:
            - address
            - resource_address
          properties:
            address:
              $ref: "#/components/schemas/Address"
            resource_address:
              $ref: "#/components/schemas/Address"

    #
    # /state/non-fungible/* Request & Response Types
    #

    StateNonFungibleIdsRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - $ref: "#/components/schemas/CursorLimitMixin"
        - type: object
          required:
            - resource_address
          properties:
            resource_address:
              $ref: "#/components/schemas/Address"
      example:
        resource_address: "<non-fungible-entity-address>"
    StateNonFungibleIdsResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - resource_address
            - non_fungible_ids
          properties:
            resource_address:
              $ref: "#/components/schemas/Address"
            non_fungible_ids:
              $ref: "#/components/schemas/NonFungibleIdsCollection"

    StateNonFungibleLocationRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - type: object
          required:
            - resource_address
            - non_fungible_ids
          properties:
            resource_address:
              $ref: "#/components/schemas/Address"
            non_fungible_ids:
              type: array
              items:
                $ref: "#/components/schemas/NonFungibleId"
      example:
        resource_address: "<non-fungible-entity-address>"
        non_fungible_ids: [ "#1#" ]

    StateNonFungibleLocationResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - resource_address
            - non_fungible_ids
          properties:
            resource_address:
              $ref: "#/components/schemas/Address"
            non_fungible_ids:
              type: array
              items:
                $ref: "#/components/schemas/StateNonFungibleLocationResponseItem"
    StateNonFungibleLocationResponseItem:
      type: object
      required:
        - non_fungible_id
        - last_updated_at_state_version
        - is_burned
      properties:
        non_fungible_id:
          $ref: "#/components/schemas/NonFungibleId"
        owning_vault_address:
          $ref: "#/components/schemas/Address"
        is_burned:
          type: boolean
        last_updated_at_state_version:
          $ref: "#/components/schemas/LastUpdatedAtStateVersion"

    StateNonFungibleDataRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - type: object
          required:
            - resource_address
            - non_fungible_ids
          properties:
            resource_address:
              $ref: "#/components/schemas/Address"
            non_fungible_ids:
              type: array
              items:
                $ref: "#/components/schemas/NonFungibleId"
      example:
        resource_address: "<non-fungible-entity-address>"
        non_fungible_ids: [ "#1#" ]
    StateNonFungibleDataResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - resource_address
            - non_fungible_id_type
            - non_fungible_ids
          properties:
            resource_address:
              $ref: "#/components/schemas/Address"
            non_fungible_id_type:
              $ref: "#/components/schemas/NonFungibleIdType"
            non_fungible_ids:
              type: array
              items:
                $ref: "#/components/schemas/StateNonFungibleDetailsResponseItem"
    StateNonFungibleDetailsResponseItem:
      type: object
      required:
        - non_fungible_id
        - is_burned
        - last_updated_at_state_version
      properties:
        is_burned:
          type: boolean
        non_fungible_id:
          $ref: "#/components/schemas/NonFungibleId"
        data:
          $ref: "#/components/schemas/ScryptoSborValue"
        last_updated_at_state_version:
          $ref: "#/components/schemas/LastUpdatedAtStateVersion"

    StateKeyValueStoreDataRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - type: object
          required:
            - key_value_store_address
            - keys
          properties:
            key_value_store_address:
              $ref: "#/components/schemas/Address"
            keys:
              type: array
              items:
                $ref: "#/components/schemas/StateKeyValueStoreDataRequestKeyItem"
      example:
        key_value_store_address: "<key-value-store-address>"
        keys:
          - key_hex: "edafaaccee"
          - key_hex: "ffbbaa2311"
    StateKeyValueStoreDataRequestKeyItem:
      type: object
      required:
        - key_hex
      properties:
        key_hex:
          $ref: "#/components/schemas/HexString"
    StateKeyValueStoreDataResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - key_value_store_address
            - entries
          properties:
            key_value_store_address:
              $ref: "#/components/schemas/Address"
            entries:
              type: array
              items:
                $ref: "#/components/schemas/StateKeyValueStoreDataResponseItem"
    StateKeyValueStoreDataResponseItem:
      type: object
      required:
        - key
        - value
        - last_updated_at_state_version
        - is_locked
      properties:
        key:
          $ref: "#/components/schemas/ScryptoSborValue"
        value:
          $ref: "#/components/schemas/ScryptoSborValue"
        last_updated_at_state_version:
          $ref: "#/components/schemas/LastUpdatedAtStateVersion"
        is_locked:
          type: boolean


    #
    # /state/validators/* Request & Response Types
    #

    StateValidatorsListRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - type: object
          properties:
            cursor:
              description: This cursor allows forward pagination, by providing the cursor from the previous request.
              type: string
              nullable: true
      example:
        at_ledger_state: null
    StateValidatorsListResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - validators
          properties:
            validators:
              $ref: "#/components/schemas/ValidatorCollection"

    ValidatorsUptimeRequest:
      allOf:
        - $ref: "#/components/schemas/AtLedgerStateMixin"
        - type: object
          properties:
            from_ledger_state:
              $ref: "#/components/schemas/LedgerStateSelector"
            validator_addresses:
              type: array
              items:
                $ref: "#/components/schemas/Address"
    ValidatorsUptimeResponse:
      allOf:
        - $ref: "#/components/schemas/LedgerStateMixin"
        - type: object
          required:
            - validators
          properties:
            validators:
              $ref: "#/components/schemas/ValidatorUptimeCollection"

    #
    # Errors
    #

    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          description: A human-readable error message.
          type: string
        code:
          description: A numeric code corresponding to the given error type.
          type: integer
        details:
          $ref: "#/components/schemas/GatewayError"
        trace_id:
          description: A unique request identifier to be used when reporting errors, to allow correlation with the Gateway API's error logs.
          type: string

    GatewayError:
      type: object
      required:
        - type
      properties:
        type:
          description: The type of error. Each subtype may have its own additional structured fields.
          type: string
      discriminator:
        propertyName: type
        mapping:
          EntityNotFoundError: "#/components/schemas/EntityNotFoundError"
          InvalidEntityError: "#/components/schemas/InvalidEntityError"
          NotSyncedUpError: "#/components/schemas/NotSyncedUpError"
          InvalidRequestError: "#/components/schemas/InvalidRequestError"
          InvalidTransactionError: "#/components/schemas/InvalidTransactionError"
          TransactionNotFoundError: "#/components/schemas/TransactionNotFoundError"
          InternalServerError: "#/components/schemas/InternalServerError"
    EntityNotFoundError:
      allOf:
        - $ref: "#/components/schemas/GatewayError"
        - type: object
          required:
            - address
          properties:
            address:
              $ref: "#/components/schemas/Address"
    InvalidEntityError:
      allOf:
        - $ref: "#/components/schemas/GatewayError"
        - type: object
          required:
            - address
          properties:
            address:
              $ref: "#/components/schemas/Address"
    NotSyncedUpError:
      allOf:
        - $ref: "#/components/schemas/GatewayError"
        - type: object
          required:
            - request_type
            - current_sync_delay_seconds
            - max_allowed_sync_delay_seconds
          properties:
            request_type:
              description: The request type that triggered this exception.
              type: string
            current_sync_delay_seconds:
              description: The current delay between the Gateway DB and the network ledger round timestamp.
              type: integer
              format: int64
            max_allowed_sync_delay_seconds:
              description: The maximum allowed delay between the Gateway DB and the network ledger round timestamp for this `request_type`.
              type: integer
              format: int64
    InvalidRequestError:
      allOf:
        - $ref: "#/components/schemas/GatewayError"
        - type: object
          required:
            - validation_errors
          properties:
            validation_errors:
              description: One or more validation errors which occurred when validating the request.
              type: array
              items:
                $ref: "#/components/schemas/ValidationErrorsAtPath"
    InvalidTransactionError:
      allOf:
        - $ref: "#/components/schemas/GatewayError"
        - type: object
    TransactionNotFoundError:
      allOf:
        - $ref: "#/components/schemas/GatewayError"
        - type: object
          required:
            - intent_hash
          properties:
            intent_hash:
              $ref: "#/components/schemas/HashBech32mString"
    InternalServerError:
      allOf:
        - $ref: "#/components/schemas/GatewayError"
        - type: object
          required:
            - exception
            - cause
          properties:
            exception:
              description: Gives an error type which occurred within the Gateway API when serving the request.
              type: string
            cause:
              description: Gives a human readable message - likely just a trace ID for reporting the error.
              type: string
    ValidationErrorsAtPath:
      type: object
      required:
        - path
        - errors
      properties:
        path:
          type: string
        errors:
          type: array
          items:
            type: string

    #
    # Metadata Typed Value
    #

    MetadataValueType:
      type: string
      enum:
        - String
        - Bool
        - U8
        - U32
        - U64
        - I32
        - I64
        - Decimal
        - GlobalAddress
        - PublicKey
        - NonFungibleGlobalId
        - NonFungibleLocalId
        - Instant
        - Url
        - Origin
        - PublicKeyHash
        - StringArray
        - BoolArray
        - U8Array
        - U32Array
        - U64Array
        - I32Array
        - I64Array
        - DecimalArray
        - GlobalAddressArray
        - PublicKeyArray
        - NonFungibleGlobalIdArray
        - NonFungibleLocalIdArray
        - InstantArray
        - UrlArray
        - OriginArray
        - PublicKeyHashArray
    MetadataTypedValue:
      type: object
      discriminator:
        propertyName: type
        mapping:
          String: "#/components/schemas/MetadataStringValue"
          Bool: "#/components/schemas/MetadataBoolValue"
          U8: "#/components/schemas/MetadataU8Value"
          U32: "#/components/schemas/MetadataU32Value"
          U64: "#/components/schemas/MetadataU64Value"
          I32: "#/components/schemas/MetadataI32Value"
          I64: "#/components/schemas/MetadataI64Value"
          Decimal: "#/components/schemas/MetadataDecimalValue"
          GlobalAddress: "#/components/schemas/MetadataGlobalAddressValue"
          PublicKey: "#/components/schemas/MetadataPublicKeyValue"
          NonFungibleGlobalId: "#/components/schemas/MetadataNonFungibleGlobalIdValue"
          NonFungibleLocalId: "#/components/schemas/MetadataNonFungibleLocalIdValue"
          Instant: "#/components/schemas/MetadataInstantValue"
          Url: "#/components/schemas/MetadataUrlValue"
          Origin: "#/components/schemas/MetadataOriginValue"
          PublicKeyHash: "#/components/schemas/MetadataPublicKeyHashValue"
          StringArray: "#/components/schemas/MetadataStringArrayValue"
          BoolArray: "#/components/schemas/MetadataBoolArrayValue"
          U8Array: "#/components/schemas/MetadataU8ArrayValue"
          U32Array: "#/components/schemas/MetadataU32ArrayValue"
          U64Array: "#/components/schemas/MetadataU64ArrayValue"
          I32Array: "#/components/schemas/MetadataI32ArrayValue"
          I64Array: "#/components/schemas/MetadataI64ArrayValue"
          DecimalArray: "#/components/schemas/MetadataDecimalArrayValue"
          GlobalAddressArray: "#/components/schemas/MetadataGlobalAddressArrayValue"
          PublicKeyArray: "#/components/schemas/MetadataPublicKeyArrayValue"
          NonFungibleGlobalIdArray: "#/components/schemas/MetadataNonFungibleGlobalIdArrayValue"
          NonFungibleLocalIdArray: "#/components/schemas/MetadataNonFungibleLocalIdArrayValue"
          InstantArray: "#/components/schemas/MetadataInstantArrayValue"
          UrlArray: "#/components/schemas/MetadataUrlArrayValue"
          OriginArray: "#/components/schemas/MetadataOriginArrayValue"
          PublicKeyHashArray: "#/components/schemas/MetadataPublicKeyHashArrayValue"
      required:
        - type
      properties:
        type:
          $ref: "#/components/schemas/MetadataValueType"
    MetadataStringValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataBoolValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: boolean
    MetadataU8Value:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataU32Value:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataU64Value:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataI32Value:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataI64Value:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataDecimalValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataGlobalAddressValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataPublicKeyValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              $ref: "#/components/schemas/PublicKey"
    MetadataNonFungibleGlobalIdValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - resource_address
            - non_fungible_id
          properties:
            resource_address:
              $ref: "#/components/schemas/Address"
            non_fungible_id:
              $ref: "#/components/schemas/NonFungibleId"
    MetadataNonFungibleLocalIdValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataInstantValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataUrlValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataOriginValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              type: string
    MetadataPublicKeyHashValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value
          properties:
            value:
              $ref: "#/components/schemas/PublicKeyHash"
    MetadataStringArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataBoolArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: boolean
    MetadataU8ArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - value_hex
          properties:
            value_hex:
              type: string
    MetadataU32ArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataU64ArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataI32ArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataI64ArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataDecimalArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataGlobalAddressArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataPublicKeyArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                $ref: "#/components/schemas/PublicKey"
    MetadataNonFungibleGlobalIdArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: object
                required:
                  - resource_address
                  - non_fungible_id
                properties:
                  resource_address:
                    $ref: "#/components/schemas/Address"
                  non_fungible_id:
                    $ref: "#/components/schemas/NonFungibleId"
    MetadataNonFungibleLocalIdArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataInstantArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataUrlArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataOriginArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                type: string
    MetadataPublicKeyHashArrayValue:
      allOf:
        - $ref: "#/components/schemas/MetadataTypedValue"
        - type: object
          required:
            - values
          properties:
            values:
              type: array
              items:
                $ref: "#/components/schemas/PublicKeyHash"
