name: CD

on:
  workflow_dispatch:
    inputs:
      flavour:
        type: choice
        description: App flavour
        options:
          - pre-alpha
          - alpha
          - beta
          - release
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:

  
  testFlightDeploy:
    permissions:
      id-token: write
      contents: read
    name: "Test Flight Deploy"
    if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'push' && !(contains(github.event.head_commit.message, '[skip cd]') || contains(github.event.head_commit.message, '[cd skip]')) }}
    runs-on: macos-13

    steps:
      - uses: radixdlt/public-iac-resuable-artifacts/fetch-secrets@main
        with:
          role_name: ${{ secrets.GH_WALLET_SECRET_ACCESS }}
          app_name: 'babylon-wallet-ios'
          step_name: 'testFlightDeploy'
          secret_prefix: 'WALLET'
          secret_name: ${{ secrets.AWS_SECRET_NAME_WALLET }}
          parse_json: true
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          token: ${{ secrets.RADIX_BOT_PAT }}

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2
          bundler-cache: true

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "14.3.1"

      - uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: |
            ${{ secrets.WALLET_SWIFT_ENGINE_TOOLKIT_SSH_KEY }}
            ${{ secrets.WALLET_FASTLANE_MATCH_REPO_SSH_KEY }}

      - name: Config local env
        run: |
          git config user.name $GIT_USER
          git config user.email $GIT_USER
          echo "${{ secrets.WALLET_FASTLANE_SECRETS_BASE64 }}" | base64 --decode > fastlane/.env.secret
          brew install xcbeautify
        env:
          GIT_USER: ${{ secrets.WALLET_RADIX_BOT_USERNAME }}

      - name: "Deploy"
        run: |
          FLAVOUR=alpha
          if [[ ${{ github.event_name == 'workflow_dispatch' }} == true ]]
          then
            FLAVOUR=${{ github.event.inputs.flavour }}
          fi
          bundle exec fastlane ios deploy --env ios.$FLAVOUR
        env:
          GIT_TOKEN: ${{ secrets.WALLET_RADIX_BOT_PAT }}
