name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:

  snyk_scan:
    name: "Snyk scan"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install snyk
        run: |
          npm install snyk -g
          snyk -v
          snyk auth ${{ secrets.SNYK_TOKEN }}
      - name: Snyk deps and licences scan
        run: |
          snyk test --all-projects --org=${{ secrets.SNYK_ORG_ID }} --severity-threshold=high
      - name: Snyk code scan
        run: |
          snyk code test --all-projects --org=${{ secrets.SNYK_ORG_ID }} --severity-threshold=high

  snyk_sbom:
    name: "Snyk SBOM"
    runs-on: ubuntu-latest
    needs:
      - snyk_scan
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: |
            ${{ secrets.SWIFT_ENGINE_TOOLKIT_SSH_KEY }}

      - name: Install snyk
        run: |
          npm install snyk -g
          snyk -v
          snyk auth ${{ secrets.SNYK_TOKEN }}
      - name: Generate SBOM # check SBOM can be generated but nothing is done with it
        run: |
          snyk sbom --debug --all-projects --org=${{ secrets.SNYK_ORG_ID }} --format=cyclonedx1.4+json --json-file-output sbom.json

  linting:
    name: "Linting"
    runs-on: macos-13-xl

    steps:
      - uses: actions/checkout@v3.1.0

      - name: "Run Lint"
        run: |
          #Disable upgrade
          #brew update
          #brew upgrade swiftformat
          swiftformat . --lint

  test-and-build:
    name: "Test and build"
    runs-on: arm64
    timeout-minutes: 50

    needs:
      - linting
      - snyk_scan

    steps:
      - uses: actions/checkout@v3.1.0

      - uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: |
            ${{ secrets.SWIFT_PROFILE_SSH_KEY }}
            ${{ secrets.SLIP_10_SSH_KEY }}
            ${{ secrets.MNEMONIC_SSH_KEY }}
            ${{ secrets.SWIFT_ENGINE_TOOLKIT_SSH_KEY }}
            ${{ secrets.CONVERSE_SSH_KEY }}
            ${{ secrets.BITE_SSH_KEY }}
            ${{ secrets.FASTLANE_MATCH_REPO_SSH_KEY }}

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "14.3.1"

      - name: "Set up ruby"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2
          bundler-cache: true

      - name: "Install additional deps"
        run: |
          echo "${{ secrets.FASTLANE_SECRETS }}" | base64 --decode > fastlane/.env.secret
          brew install xcbeautify

      - name: "Unit tests (debug)"
        run: bundle exec fastlane ios tests

      - name: "Build and archive (release)"
        run: bundle exec fastlane ios build --env ios.beta

  snyk_online_monitor:
    name: "Snyk monitoring"
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs:
      - test-and-build
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: |
            ${{ secrets.SWIFT_ENGINE_TOOLKIT_SSH_KEY }}
      - name: Install snyk
        run: |
          npm install snyk -g
          snyk -v
          snyk auth ${{ secrets.SNYK_TOKEN }}
      - name: Enable Snyk online monitoring to check for vulnerabilities
        run: |
          snyk monitor --all-projects --org=${{ secrets.SNYK_ORG_ID }}

  # snapshot_tests:
  #   name: "Snapshot tests"
  #   runs-on: macos-12

  #   needs:
  #     - assertFormated

  #   steps:
  #     - uses: actions/checkout@v3.1.0

  #     - name: "Run snapshot tests"
  #       run: echo "Runing snapshot tests" # JUST A PLACEHOLDER, NEEDS TO BE REPLACED

  # ui_tests:
  #   name: "UI tests"
  #   runs-on: macos-12

  #   needs:
  #     - assertFormated

  #   steps:
  #     - uses: actions/checkout@v3.1.0

  #     - name: "Run UI tests"
  #       run: echo "Runing UI tests" # JUST A PLACEHOLDER, NEEDS TO BE REPLACED
