name: Release

on:
  release:
    types:
      - "published"

jobs:

  publish_sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: |
            ${{ secrets.SWIFT_ENGINE_TOOLKIT_SSH_KEY }}
      - name: Install snyk
        run: |
          npm install snyk -g
          snyk -v
          snyk auth ${{ secrets.SNYK_TOKEN }}
      - name: Generate SBOM
        run: |
          snyk sbom --all-projects --org=${{ secrets.SNYK_ORG_ID }} --format=cyclonedx1.4+json --json-file-output sbom.json
      - name: Upload SBOM
        uses: AButler/upload-release-assets@c94805dc72e4b20745f543da0f62eaee7722df7a # v2.0.2
        with:
          files: sbom.json
          repo-token: ${{ secrets.GITHUB_TOKEN }}
