name: "Test Flight Deploy"

on: 
  workflow_dispatch:
    inputs:
      flavour:
        type: choice
        description: App flavour
        options:
          - alpha
          - beta
          # - release
  pull_request:
    branches:
      - main

jobs:

  testFlightDeploy:
    name: "Test Flight Deploy"
    if: ${{ !contains(github.event.head_commit.message, '[skip cd]') }}
    runs-on: macos-12

    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          token: ${{ secrets.RADIX_BOT_PAT }}

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2
          bundler-cache: true

      - uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: |
            ${{ secrets.SWIFT_PROFILE_SSH_KEY }}
            ${{ secrets.SLIP_10_SSH_KEY }}
            ${{ secrets.MNEMONIC_SSH_KEY }}
            ${{ secrets.SWIFT_ENGINE_TOOLKIT_SSH_KEY }}
            ${{ secrets.CONVERSE_SSH_KEY }}
            ${{ secrets.BITE_SSH_KEY }}
            ${{ secrets.FASTLANE_MATCH_REPO_SSH_KEY }}

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "14.1"

      - name: Config local env
        run: |
          git config user.name $GIT_USER
          git config user.email $GIT_USER
          echo "${{ secrets.FASTLANE_SECRETS }}" | base64 --decode > fastlane/.env.secret
          brew install xcbeautify
        env:
          GIT_USER: ${{ secrets.RADIX_BOT_USERNAME }}
        
      - name: "Deploy"
        run: |
          echo ${{ github.event_name }}
          FLAVOUR=alpha
          if [[ ${{ github.event_name == 'pull_request' }} ]]
          then
            FLAVOUR=${{ github.event_name }}
            echo "======= workflow dispatch"
          fi
          bundle exec fastlane ios deploy --env ios.$FLAVOUR
